{% load static %}
{% url 'home' as home_url %}
{% url 'about' as about_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <title>Travel Buddy - The Travel App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap/bootstrap.min.css' %}">
    <!-- Bootstrap Icons -->
    <link href="{% static 'css/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Nav -->
    <!-- We only want the nav to show on certain screens (the splash screen isn't one of them) -->
    {% if show_navbar %}
    <header id="header" class="header d-flex flex-column">
        <i class="header-toggle d-xl-none bi bi-list"></i>
        <a class="scroll-to-top" href="#section-home">
            <i class="bi bi-arrow-up"></i>
        </a>

        {% if user.is_authenticated and settings.ANON_MODE %}
        <div class="header-image-container">
            <img class="header-image"
                src="{% static 'images/header-image.webp' %}"
                {% comment %} src="{{ user.profile_image.url|default:'#' }}" {% endcomment %}
                alt="profile picture of user"
                aria-label="The current user's profile picture"
            />
        </div>
        <!-- I want to have the else here because if the user is NOT logged in
        I want to keep the navbar still centered, just that there will be no pfp
        only blank space in it's place -->
        {%else %}
        <div class="header-image-container">

        </div>
        {% endif %}

        <!-- quick nav links-->
        <nav id="nav" class="nav-links">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                    <i class="bi bi-house navicon"></i>
                    Home
                    </a>
                </li>
                {% comment %} <li>
                    <a href="{% url 'about_us' %}">
                    <i class="bi bi-person navicon"></i>
                    About Us
                    </a>
                </li> {% endcomment %}
                <li>
                    <a href="{% url 'recommendations' %}">
                    <i class="bi bi-person navicon"></i>
                    Recommendations
                    </a>
                </li>
                {% comment %} <li>
                    <!-- show is user is logged in -->
                    {% if user.is_authenticated %}
                        <a href="{% url 'add_recommendation' %}">
                        <i class="bi bi-chat-quote navicon"></i>
                        Add A Recommendation
                        </a>
                    {% endif %}
                </li>
                <li>
                    <!-- show is user is logged in -->
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}">
                        <i class="bi bi-chat-quote navicon"></i>
                        Your Profile
                        </a>
                    {% else %}
                    {% endif %}
                </li>
                <li>
                    <!-- similarly we want this to appear based on if user is logged in or logged out -->
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">
                        <i class="bi bi-chat-quote navicon"></i>
                        Logout
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}">
                        <i class="bi bi-chat-quote navicon"></i>
                        Login
                        </a>
                    {% endif %}
                </li> {% endcomment %}
            </ul>
        </nav>
                <!-- social links -->
        <div class="social-links text-center">
            <p>Find us on the following!</p>
            <a href="https://x.com/SAnderton46899" target="_blank"
            ><i class="bi bi-twitter-x"></i
            ></a>
            <a href="https://discord.com" target="_blank"
            ><i class="bi bi-discord"></i
            ></a>            <a href="https://youtube.com" target="_blank"
            ><i class="bi bi-youtube"></i
            ></a>
            <a
            href="https://www.linkedin.com/in/shaun-anderton-551670a9/"
            target="_blank"
            ><i class="bi bi-linkedin"></i
            ></a>
            <a href="https://github.com/shaAnder" target="_blank"
            ><i class="bi bi-github"></i
            ></a>
            <p>&copy; 2025 Travel Buddy,  ShaAnder</p>
        </div>
    </header>

    {% endif %}

    <!-- Main Content -->
    <main class="main">

        {% block content %}
        
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Travel Buddy,  ShaAnder</p>
    </footer>
    <script src="{% static 'js/vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
