{% load static %}
{% url 'home' as home_url %}
{% url 'about' as about_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <title>Travel Buddy - The Travel App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap/bootstrap.min.css' %}">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="d-flex flex-column h-100 main-bg">

    {% if show_navbar %}
    <header id="header" class="header d-flex flex-column">
        <i class="header-toggle d-xl-none bi bi-list"></i>

        <div class="header-image-container">
            {% if user.is_authenticated %}
            <a href="{% url 'profile' username=user.username %}" aria-label="View your profile">
                <img class="header-image" 
                     src="{{ user.profile.avatar.url }}" 
                     alt="{{ user.username }}'s profile picture" />
            </a>
            {% endif %}
        </div>

        <!-- Navigation -->
        <nav id="nav" class="nav-links">
            <ul>
                <li><a href="{{ home_url }}"><i class="bi bi-house navicon"></i> Home</a></li>
                <li><a href="{{ about_url }}"><i class="bi bi-info-circle navicon"></i> About Us</a></li>
                <li><a href="{% url 'policy' %}"><i class="bi bi-shield-lock navicon"></i> Privacy Policy</a></li>
                <li><a href="{% url 'recommendations' %}"><i class="bi bi-map navicon"></i> Recommendations</a></li>
                
                {% if user.is_authenticated %}
                    <li><a href="{% url 'add_recommendation' %}"><i class="bi bi-plus-square navicon"></i> Add Rec</a></li>
                    <li><a href="{% url 'profile' username=user.username %}"><i class="bi bi-person-circle navicon"></i> Your Profile</a></li>
                    <li><a href="{% url 'account_logout' %}"><i class="bi bi-box-arrow-right navicon"></i> Logout</a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}"><i class="bi bi-box-arrow-in-right navicon"></i> Login</a></li>
                {% endif %}
            </ul>
        </nav>

        <!-- Social Links -->
        <div class="social-links text-center">
            <p>Find us on:</p>
            <a href="https://x.com/SAnderton46899" target="_blank"><i class="bi bi-twitter-x"></i></a>
            <a href="https://discord.com" target="_blank"><i class="bi bi-discord"></i></a>
            <a href="https://youtube.com" target="_blank"><i class="bi bi-youtube"></i></a>
            <a href="https://www.linkedin.com/in/shaun-anderton-551670a9/" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/shaAnder" target="_blank"><i class="bi bi-github"></i></a>
        </div>
        <!-- Footer -->
        <!-- opted to keep footer inside the header nav for a more sleek design-->
        <p id="footer" >&copy; 2025 Travel Buddy, ShaAnder</p>

    </header>
    {% endif %}

    <!-- Main Content -->
    <main class="main">
        {% block content %}{% endblock content %}
    </main>



    <!-- bootstrap scripts-->
    <script src="{% static 'js/vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <!-- google maps api script -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>
    <!-- our internal scripts -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
