/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* root variable color scheme*/
:root {
    /* colors */
    --main-lightest: #ffffff;
    --main-light: #b8b8b8;
    --main-darker: #2c2c2c;
    --main-darkest: #111111;
    --main-contrast: #e79600;

    /* fonts */
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway", sans-serif;
    --nav-font: "Poppins", sans-serif;
    --quote-font: "Bonheur Royale", sans-serif;
}

/* reset all margins and padding*/
body {
    margin: 0;
    padding: 0;
}

/*---------------------------------------------*/
/*  DEFAULT / GENERIC STYLING
/*---------------------------------------------*/

section {
    height: auto;
    padding: 2rem;
}

.text-center {
    text-align: center !important;
}

.section-title {
    padding-bottom: 0;
}

.section-title h1:after {
    content: "";
    position: relative;
    display: block;
    border-radius: 25px;
    width: 50px;
    height: 5px;
    background: var(--main-contrast);
}

.section-title p {
    font-size: 20px;
}

strong {
    font-weight: 500;
    font-size: 1.05rem;
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

/*---------------------------------------------*/
/*  HEADER
/*---------------------------------------------*/

/* toggle mobile nav bar off until we want to use it */
.mobile-nav-toggle {
    display: none;
}

.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    font-family: var(--heading-font);
    color: var(--main-lightest);
    background-color: var(--main-darkest);
    z-index: 9999;
    transition: ease(0.3s);
    justify-content: center;
}
  
.header-image-container {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
}

.header-image{

    width: 200px;
    border-radius: 50%;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: ease 0.3s;
}
  
/* NAV LINKS */

.nav-links {
    margin-top: 1rem;
    flex-grow: 1;
}
  
.nav-links ul {
    list-style: none;
}
  
.nav-links a {
    padding: 15px 10px;
    width: 100%;
    font-family: var(--nav-font);
    font-size: 20px;
    font-weight: 400;
    display: flex;
    color: var(--main-light);
    text-decoration: none;
    transition: 0.3s;
}
  
.nav-links a .navicon {
    margin-right: 1rem;
    font-size: 20px;
    align-items: center;
}
  
.nav-links a:hover .navicon {
    color: var(--main-contrast);
}
  
.nav-links a:hover {
    color: white;
}
  
/* HEADER TOGGLE BUTTON */
  
.header .header-toggle {
    width: 40px;
    height: 40px;
    font-size: 30px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15px;
    right: 15px;
    color: var(--contrast-color);
    background-color: var(--main-darker);
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
    transition: background-color 0.3s;
}
  
/* moves header back left when it's being shown */
.header.header-show {
    left: 0;
}

/* HEADER SOCIAL LINKS */
  
.header .social-links {
    margin-top: auto; 
    margin: 0px 0 20px 0;
}
  
.header .social-links i {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.header .social-links a {
    margin: 10px 2px;
    width: 38px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    background: color-mix(in srgb, var(--main-lightest), transparent 90%);
    color: var(--default-color);
    text-decoration: none;
    border-radius: 50%;
    transition: 0.3s;
}
  
.header .social-links a:hover {
    background: var(--main-contrast);
}
  


/*---------------------------------------------*/
/*  MAIN BODY
/*---------------------------------------------*/

.main {
    display: block;
    /* we use this here to isolate the main unicode settings from header */
    unicode-bidi: isolate;
  }

/*---------------------------------------------*/
/*  MEDIA QUERIES
/*---------------------------------------------*/

@media (max-width: 1440px) {
    section {
        height: auto;
    }
}

@media (min-width: 1200px) {
    /* 1200 px or higher header populates left side 
    and main container / footer pushed left */
    .header ~ main,
    .header ~ #footer {
        margin-left: 300px;
    }
}

@media (max-width: 1199px) {
    /*hide header on anything under 1199 px*/
    .header {
        left: -300px;
    }
}

@media only screen and (max-width: 768px) {
.portfolio-content {
    display: flex !important;
    justify-content: center;
    }
}

@media (max-width: 768px) {
    section {
        padding-left: 1rem;
        padding-right: 1rem;
    } 
}

/* specifically for portfolio filters as on 450 still sits nicely */
@media (max-width: 575px) {
}

@media (max-width: 450px) {
    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 20px;
    }

    .nav-links a {
        padding-top: 5%;
    }

}